*{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-style: normal; 
    font-size: 1vw;
    font-weight: 600;
    background-color: #3B4664;
}

.calculator{
    width:30vw;
    height: 70vh;
    position: absolute;
    margin-left: 35vw;
    margin-top: 22vh;
}

.outputArea{
    height: 10vh;
    width: 10vw;
}

#display{
    width: 28vw;
    height: 11vh;
    background-color: black;
    color: white;
    border-radius: 1vw;
}

.inputArea{
    height: 50vh;
    width: 28vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    background-color: black;
    border-radius: 1vw;
}

.btn{
    height: 6vh;
    width: 6vw;
    border-radius: 1vw;
    background-color: white;
}

.vio{
    background-color: #7782a3;
}

.btn2-red{
    height: 6vh;
    width: 10vw;
    background-color: red;
    border-radius: 1vw;
}

.btn2{
    height: 6vh;
    width: 10vw;
    border-radius: 1vw;
}

